.Nav {
  display: flex;
  background-color: white;
  margin: 0px;
  width: 100%;
  padding: 0px;
  justify-content: center;
  align-items: center;
  border: 16px solid lightgray;
  border-radius: 5px;
}
